@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 2.8125rem;
}

@theme {
    /* Colors */


    /* --color-black:#010101 ; */
    --color-white:#FFFFFF ;
    --color-black: #010101 ;
    --color-gray-DDD:#dddddd;
    --color-red-609: #e03690;
    --color-orange-71f: #f0b71f;
    --color-white-4: rgba(255, 255, 255, 0.04);
    --color-white:#FFFFFF;

    /* Font Family */
    --font-orbitron: "Orbitron", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;


    /* Break points */
   --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 95rem;
} 
 
@layer base {
    body {
        @apply font-montserrat bg-black text-white;
        
    }
   h1, 
   h2, 
   h3, 
   h4, 
   h5, 
   h6 {
        font-family: var(--font-orbitron);
        color: var(--color-primary);
    } 

    p {
       @apply text-[18px] text-[#DDDDDD] leading-8 -tracking-[0.2px];
    }
}

@layer components {
    .Linear_button {
        @apply bg-linear-to-r from-[#F0B71F] to-[#E03609] text-[17px] font-semibold px-5 py-3 rounded-xl;
    }
    .after_buttom{
         @apply after:absolute after:h-px after:w-full after:bg-linear-to-r after:from-[#F0B71F] after:to-[#E03609] after:bottom-0 after:left-0
        }

    .after_left {
        @apply before:absolute before:h-full before:w-0.5 before:bg-linear-to-t before:from-[#F0B71F] before:to-[#E03609] before:top-0 before:left-0 z-40;
    }

    .after_right{
        @apply after:absolute after:h-full after:w-0.5 after:bg-linear-to-b after:from-[#F0B71F] after:to-[#E03609] after:top-0 after:right-0 z-40;
    }

    .blur_bg {
        background: rgb(255, 255, 255, 0.04);
        backdrop-filter: blur(25.7px);
    }

    .linear_color_text{
        background: linear-gradient(270deg, #f0b71f 0%, #e03609 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent ;
    }

    .linear_color_button{
        background: linear-gradient(270deg, #f0b71f 0%, #e03609 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent ;

        border: 1px solid #e03609;
        border-radius: 12px;
        padding: 11px 18px;
        font-weight: 600;
    }
}